

.Catalog{
    /* background-color: chocolate; */
    font-family: 'Roboto Flex';
}

.Catalog_nav{
    background: rgb(255, 127, 29);
    position: fixed;
    width:100%;
    height:9%;
    z-index:2;
    border-bottom: #7d7d7d 1px solid;
}
.Catalog_nav_dopContainer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 1300px;
    margin: auto;
    padding-top:15px;
    padding-right: 15px;
}

.Catalog_nav_dopContainer h1{
    font-size:clamp(25px,3vw,34px); 
}


.Catalog_nav_dopContainer button{
    width:150px;
    height:50px;
    background-color:#ffddbb;
    border: none;
    border-radius: 30px;
    font-size:clamp(15px,2vw,20px);
    transition:0.5s;
    font-weight: 550;
}


.Catalog_nav_dopContainer button:hover{
    background-color:#ffffff;
    cursor: pointer;
}

.Catalog_GridMenu{
    display: grid;
    grid-template-columns: repeat(3,400px);
    column-gap:45px;
    row-gap:55px;
    justify-content: center;
    padding-top:200px;
    padding-bottom:100px;
} 
/* =======================================@MEDIA=================================================== */

@media(max-width:1400px){
    .Catalog_GridMenu{
        grid-template-columns: repeat(2,400px);
    }
    .Catalog_nav_dopContainer{
    display: flex;
    justify-content:space-between;
    width: 90%;
    margin: auto;
    padding:15px 15px 15px 15px;
}
}

@media(max-width:950px){
    .Catalog_GridMenu{
    grid-template-columns: repeat(2,40%);
    grid-template-rows: repeat(6,18%);
    column-gap:5%;
    row-gap:2%;
} 
}

@media(max-width:730px){
    .Catalog_GridMenu{
    grid-template-columns: repeat(2,46%);
    column-gap:3%;
    row-gap:2%;
} 
    .Catalog_nav_dopContainer button{
    width:100px;
    height:40px;
    border-radius: 30px;
}
}

@media(max-width:550px){
.Catalog_nav_dopContainer{
    padding:10px;
}
.Catalog_nav{
    height:7%;
}
.Catalog_GridMenu{
    padding-top:140px;
    padding-bottom:240px;
} 
}
